<template>
  <div>
    <v-app-bar app color="secondary" dark>
      <v-row align="center" justify="center">
        <v-img
          :src="require('../assets/img/logoGspVergiate.png')"
          max-height="50"
          max-width="50"
        />
        <router-link to="/" class="toolbar-title">
          <v-toolbar-title class="ml-3 white--text"
            >GSP Vergiate</v-toolbar-title
          >
        </router-link>
      </v-row>
    </v-app-bar>
  </div>
</template>
<script>
export default {
  name: "navbar"
};
</script>

<style>
.toolbar-title {
  text-decoration: none;
}
</style>
